%h2 bonjour, #{@email}

%p Vous avez crée un espace pour la publication de flux RSS, du nom de #{@nom}

%p Si vous voulez l'ajouter sur votre site ajouter les information suivante :
%ul
  %li key : #{@id}

%p Cordialement, l'équipe Dev-Crea.
