tmp/pids/server.pid
.git
.gitignore
docker-compose.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
README.*
Dockerfile.*
log/*
public/assets/*
vendor/assets/bower_components/*
