#flux
  .row
    .small-12.columns
      %h2= t 'flux.index.h2', count: Site.all.count
  .row
    .small-12.columns
      - @sites.each do |site|
        = render partial: 'site', locals: { leSite: site}
        = render partial: 'new', locals: {uneNews: site.news, leSite: site.id}
