#flux
  .row
    .small-12.columns
      %h2= t 'flux.new.h2', site: @new.site.nom
  .row
    .small-12.columns
      = render partial: 'site', locals: { leSite: @new.site}
      = render partial: 'new', locals: {uneNews: @new, leSite: @new.site}
