- if notice || alert
  :ruby
    classes = 'alert-box'
    classes += 'success' if notice
    classes += 'warning' if alert
  .fixed-bottom
    %div{ 'data-alert': true, class: classes }
      %p= notice
      %p= alert
      %a.close{ href: '#' } &times;
