- if notice or alert
  .fixed-bottom
    %div{:"data-alert" => true, :class => "alert-box #{(notice) ? "success" : ""} #{(alert) ? "warning" : ""}"}
      %p= notice
      %p= alert
      %a.close{:href => "#"} &times;
