%h1 Listing writers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @writers.each do |writer|
      %tr
        %td= link_to 'Show', writer
        %td= link_to 'Edit', edit_writer_path(writer)
        %td= link_to 'Destroy', writer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Writer', new_writer_path
