.fixed-bottom {
  position: fixed;
  z-index: 1000;
  width: 100%;
  text-align: center;
  bottom: 0px;
  a {
    color: black;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.fixed-bottom .alert-box {
  padding: 15px;
}

.fixed-bottom .alert-box.success {
  background-color: #43AC6A;
}

.fixed-bottom .alert-box.warning {
  background-color: #f08a24;
}

